.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    align-items: center;
    min-width:15px;
}

    .chiller_cb input {
        display: none;
    }

        .chiller_cb input:checked ~ span {
            background: #1A6BC3;
            border-color: #1A6BC3;
        }

            .chiller_cb input:checked ~ span:before {
                width: 1rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.3s;
                -webkit-transition: width 0.1s;
                -moz-transition: width 0.1s;
                -ms-transition: width 0.1s;
                -o-transition: width 0.1s;
            }

            .chiller_cb input:checked ~ span:after {
                width: 0.4rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.2s;
            }

        .chiller_cb input:disabled ~ span {
            background: #ececec;
            border-color: #dcdcdc;
        }

        .chiller_cb input:disabled ~ label {
            color: #dcdcdc;
        }

            .chiller_cb input:disabled ~ label:hover {
                cursor: default;
            }

    .chiller_cb label {
        padding-right: 2rem;
        position: relative;
        z-index: 2;
        cursor: pointer;
        margin-bottom: 0;
    }

    .chiller_cb span {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 2px solid #1A6BC3;
        position: absolute;
        transition: all 0.2s;
        z-index: 1;
        top: 5px;
        box-sizing: content-box;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

        .chiller_cb span:before {
            transform: rotate(-55deg);
            top: 1rem;
            left: 0.37rem;
        }

        .chiller_cb span:after {
            transform: rotate(35deg);
            bottom: 0.35rem;
            left: 0.2rem;
        }


.chiller_cb {
    cursor: pointer;
}

    .chiller_cb strong {
        margin: 0px 22px;
    }

table.table.table-striped .chiller_cb input {
    display: none !important;
}

.check-label {
    cursor: pointer;
    padding: 0px 10px;
    font-size: 1.4em;
    width: 100%;
}


    .check-label i, .check-label span {
        padding: 0px 10px;
    }