<p-dialog [(visible)]="Show" (onHide)="OnModalHide()" [modal]="true" >
    <p-header>
{{'Pages.Auth__ChangePassword' | translate }}    </p-header>

    <div class="col-md-12">
        <div class="row" *ngIf="UseLocalization">
            <div class="col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-6">
                <div class="btn-group btn-group-sm pull-last padBottom">
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='ar'?'btn-primary':'btn-default'" (click)="CurrentLang='ar'">
                            {{'Words.ar' | translate }}
                        </button>
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='en'?'btn-primary':'btn-default'" (click)="CurrentLang='en'">
                            {{'Words.en' | translate }}
                        </button>
                </div>
            </div>

        </div>

        


<form #Form="ngForm">
    
<div class="row form-group "
     id="FG_oldPassword"
     #FG_oldPassword="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.ChangePasswordDTO__OldPassword' | translate }}
<span style="color:red" > * </span>    </label>
    <div class="col-sm-9">
        <input type="password"
       class="form-control "
       placeholder="{{'Columns.ChangePasswordDTO__OldPassword' | translate }}"
       name="Form__oldPassword"
       [(ngModel)]="model.oldPassword"
       title="{{'Columns.ChangePasswordDTO__OldPassword' | translate }}"
       [li-watch]="model"

       
       required  >
    <p *ngIf="!FG_oldPassword.Write">{{FG_oldPassword.Value}}</p>


        <span *ngIf="Form.controls['Form__oldPassword'] && Form.controls['Form__oldPassword'].invalid && (Form.controls['Form__oldPassword'].dirty || Form.controls['Form__oldPassword'].touched)"><small *ngIf="Form.controls['Form__oldPassword'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.ChangePasswordDTO__OldPassword' | translate } }}</small>
</span>
    </div>
</div>

    
<div class="row form-group "
     id="FG_password"
     #FG_password="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.ChangePasswordDTO__Password' | translate }}
<span style="color:red" > * </span>    </label>
    <div class="col-sm-9">
        <input type="password"
       class="form-control "
       placeholder="{{'Columns.ChangePasswordDTO__Password' | translate }}"
       name="Form__password"
       [(ngModel)]="model.password"
       title="{{'Columns.ChangePasswordDTO__Password' | translate }}"
       [li-watch]="model"

       
       required maxlength="20" minlength="5"  >
    <p *ngIf="!FG_password.Write">{{FG_password.Value}}</p>


        <span *ngIf="Form.controls['Form__password'] && Form.controls['Form__password'].invalid && (Form.controls['Form__password'].dirty || Form.controls['Form__password'].touched)"><small *ngIf="Form.controls['Form__password'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.ChangePasswordDTO__Password' | translate } }}</small>
<small *ngIf="Form.controls['Form__password'].errors!.minlength" class="form-text text-danger">{{'Messages.invalid_min_and_max_length' | translate : {p0:'20',p1:'5'} }}</small>
<small *ngIf="Form.controls['Form__password'].errors!.maxlength" class="form-text text-danger">{{'Messages.invalid_min_and_max_length' | translate : {p0:'20',p1:'5'} }}</small>
</span>
    </div>
</div>

    
<div class="row form-group "
     id="FG_passwordConfirm"
     #FG_passwordConfirm="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.ChangePasswordDTO__PasswordConfirm' | translate }}
<span style="color:red" *ngIf="model.password!=null"> * </span>    </label>
    <div class="col-sm-9">
        <input type="password"
       class="form-control "
       placeholder="{{'Columns.ChangePasswordDTO__PasswordConfirm' | translate }}"
       name="Form__passwordConfirm"
       [(ngModel)]="model.passwordConfirm"
       title="{{'Columns.ChangePasswordDTO__PasswordConfirm' | translate }}"
       [li-watch]="model"

       
       [required]="model.password!=null" maxlength="20" minlength="5" [pattern]="model.password"  >
    <p *ngIf="!FG_passwordConfirm.Write">{{FG_passwordConfirm.Value}}</p>


        <span *ngIf="Form.controls['Form__passwordConfirm'] && Form.controls['Form__passwordConfirm'].invalid && (Form.controls['Form__passwordConfirm'].dirty || Form.controls['Form__passwordConfirm'].touched)"><small *ngIf="Form.controls['Form__passwordConfirm'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.ChangePasswordDTO__PasswordConfirm' | translate } }}</small>
<small *ngIf="Form.controls['Form__passwordConfirm'].errors!.minlength" class="form-text text-danger">{{'Messages.invalid_min_and_max_length' | translate : {p0:'20',p1:'5'} }}</small>
<small *ngIf="Form.controls['Form__passwordConfirm'].errors!.maxlength" class="form-text text-danger">{{'Messages.invalid_min_and_max_length' | translate : {p0:'20',p1:'5'} }}</small>
<small *ngIf="Form.controls['Form__passwordConfirm'].errors!.pattern" class="form-text text-danger">{{'Messages.invalid_field' | translate : {p0:'Columns.ChangePasswordDTO__PasswordConfirm' | translate } }}</small>
</span>
    </div>
</div>

</form>


    </div>


    

        <p-footer>
            <div class="text-center modal-buttons">
                
        <button class="btn btn-primary"
            [disabled]="!CanSubmit"
            (click)="Submit()">
        {{'Words.Save' | translate }}
    </button>


            </div>
        </p-footer>
</p-dialog>
<div style='display:none' #lookupOptionsContainer values=''></div>
<div style='display:none' #viewParamsContainer values='{"ModelType":null,"AddUrl":null,"EditUrl":null,"DetailsUrl":null,"ListUrl":null,"Fields":[],"Other":{}}'></div>