import { Component, ViewChild } from "@angular/core";
import { NgForm } from '@angular/forms';
import { %BaseClass% } from "%BaseClassLocation%";

@Component({ templateUrl : "./%TemplateName%.html", selector : "%Selector%" })
export class %ComponentName% extends %BaseClass% {
	
	public get CollectionId(): string | null { return %CollectionId%; }

	ViewParams = %ViewParams%;
	LookupOptions = %Sources%;
}