@*ID:1935266244002*@
@model PageDTO
@{
    Html.AddParameter("UseDefault", "P1");
    Layout = Html.Config().Layout;
    Html.HeaderModel().ToolsSection = Html.SelectControlGroup(d => d.TenantCode, Lister.Make("tenants", false), "name", "code", inputAttr: new { evnt__change = "tenantChanged()" }, nullable: false);
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @Html.ComponentSelectorFromOther("DomainTree", "DomainTree")
        </div>
        <div class="col-md-9" [show-if]="currentDomain" style="margin-top:11px">
            @Html.ComponentSelectorFromOther("PageList", "PageList")
        </div>
    </div>
</div>

