


<div class="row form-group "
     id="FG_firstName"
     #FG_firstName="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.User__FirstName' | translate }}
    </label>
    <div class="col-sm-9">
        <input type="text"
       class="form-control "
       placeholder="{{'Columns.User__FirstName' | translate }}"
       name="Form__firstName"
       [(ngModel)]="model.firstName"
       title="{{'Columns.User__FirstName' | translate }}"
       [li-watch]="model"

       
        >
    <p *ngIf="!FG_firstName.Write">{{FG_firstName.Value}}</p>


        
    </div>
</div>


<div class="row form-group "
     id="FG_lastName"
     #FG_lastName="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.User__LastName' | translate }}
    </label>
    <div class="col-sm-9">
        <input type="text"
       class="form-control "
       placeholder="{{'Columns.User__LastName' | translate }}"
       name="Form__lastName"
       [(ngModel)]="model.lastName"
       title="{{'Columns.User__LastName' | translate }}"
       [li-watch]="model"

       
        >
    <p *ngIf="!FG_lastName.Write">{{FG_lastName.Value}}</p>


        
    </div>
</div>
