<nav class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-first">
                <ul class="nav nav-pills">
                    <li>
                        <a (click)="Slide()" class="opt-btn mob">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a (click)="ToggleNav()" class="opt-btn not-mob">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="pull-last" *ngIf="isLoggedIn">
                <ul class="nav nav-pills toolbox">
                    <li>
                        <select class="form-control" [(ngModel)]="currentApp" (change)="appChanged()">
                            <option [ngValue]="app" *ngFor="let app of apps">{{app.name}}</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control" [(ngModel)]="App.UseState.tenantCode" (change)="tenantChanged()">
                            <option [ngValue]="null">{{'Words.Empty' | translate}}</option>
                            <option [ngValue]="t.code" *ngFor="let t of App.TenantList">{{t.name}}</option>
                        </select>
                    </li>
                    <li *ngIf="App.UseState.tenantCode">
                        <div class="btn-group">
                            <button class="btn btn-info" (click)="RenderAll()" title="{{'Words.RenderAll' | translate}}"><i class="fa fa-image fa-lg"></i></button>
                            <button class="btn btn-warning" (click)="Definition()" title="{{'Words.Definition' | translate}}"><i class="fa fa-language fa-lg"></i></button>
                        </div>

                    </li>
                    <li *ngIf="!isLoggedIn">
                        <a routerLink="/Login" routerLinkActive="hidden">
                            {{'Words.Login' | translate}} <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills">

                    <li *ngIf="isLoggedIn" role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false" (click)="toggleMenu()" role="button" aria-haspopup="true" aria-expanded="false">
                            {{user.name}}
                            <img class="img-circle" [src]="user.photo?'/'+user.photo:'assets/img/default_user.png'" />
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu navbar-inverse" [ngClass]="showUserMenu?'show':''">
                            <li *ngIf="changePasswordItem">
                                <a (click)="ChangePassword()">
                                    <i class="fa fa-key"></i> &nbsp;&nbsp;{{'Words.ChangePassword' | translate}}
                                </a>
                            </li>
                            <li *ngIf="editProfileItem">
                                <a (click)="EditProfile()">
                                    <i class="fa fa-user"></i> &nbsp;&nbsp;{{'Words.EditProfile' | translate}}
                                </a>
                            </li>
                            <li>
                                <a (click)="Logout()">
                                    <i class="fa fa-sign-out-alt"></i> &nbsp;&nbsp; {{'Words.Logout' | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>