@model PublicContent
@{
    Layout = Html.Config().Layout;
    var link = Html.GetLink(new PageLink("content_edit_link"));
}

<ul class="nav nav-tabs custom-tabs mt-3">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="@Html.Raw(link)+code+'/ar'" [routerLinkActive]="['active']">{{'Words.ar' | translate}}</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="@Html.Raw(link)+code+'/en'" [routerLinkActive]="['active']">{{'Words.en' | translate}}</a>
    </li>
</ul>

@using (Html.NgForm("Form"))
{
    <div class="row">
        @Html.RichTextBoxGroup(d => d.Content, size: 12)
    </div>
}

@section buttons{
    @Html.SubmitButton()

}