<div class="btn-group pull-last">
    @Html.Button("ProcessTemplate", btn: BtnClass.Warning, title: "Process", function: "ProcessTemplate()", icon: "fa fa-cog")
    @Html.Button("Render", btn: BtnClass.Primary, title: "Render", function: "Render()", icon: "fa fa-image")
</div>
