<div class="btn-group">
    @Html.Button(text: "Add New", function: "AddPageCategory()", url: null, btn: BtnClass.Success,icon:"fa fa-plus fa-lg", identifier: "add_button")
    @Html.Button(text: "Modules", function: "OpenModules()", url: null, btn: BtnClass.Primary, icon: "fa fa-list fa-lg", identifier: "modules_button")
</div>


