import { ConfigHttpService } from "Example/Http/ConfigHttpService";
import { Injectable } from "@angular/core";
import { ServerConfig } from "Example/ServerConfig";

@Injectable()
export class %Resource%Service extends ConfigHttpService {

    protected get BaseUrl(): string {
        return "/apiAction/%Resource%";
    }

	protected AddCustomHeaders(heads: { [key: string]: string }) {
        if (ServerConfig.CurrentApp)
            heads["app-name"] = ServerConfig.CurrentApp;
    }

}
