<div class="row" [hidden]="Pages.length<2">
    <div class="col-sm-12" style="text-align:center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="Prev()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" [ngClass]="Current==p.id?'active':null" *ngFor="let p of Pages">
                    <a class="page-link" (click)="SelectPage(p)" [ngClass]="Current==p.id?'disabled':null">{{p.name}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="Next()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>