<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.PageControls__CustomizeAppComponent' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                    <div class="col-md-8 col-xs-12 text-last padTop">
                        <div class="btn-group pull-last">
    
    <button class="btn btn-warning"
            (click)="ProcessTemplate()"
            
             title="{{'Words.Process' | translate }}">
        <i class="fa fa-cog"></i> {{'Words.ProcessTemplate' | translate }}
    </button>

    
    <button class="btn btn-primary"
            (click)="Render()"
            
             title="{{'Words.Render' | translate }}">
        <i class="fa fa-image"></i> {{'Words.Render' | translate }}
    </button>

</div>

                    </div>
                <div class="col-md-4 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
    <button class="btn btn-success"
            (click)="update()"
            
            >
        {{'Words.Save' | translate }}
    </button>

                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
    <li>
        {{'Pages.PageControls__CustomizeAppComponent' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.PageControls__CustomizeAppComponent' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div><div [ngClass]="IsEmbedded?'panel panel-default embedded':'animated fadeInRight'">
    <div [ngClass]="IsEmbedded?'panel-body':'container-fluid'">
        
<div class="col-md-12">
    <div class="row">
        <div class="row form-group " >
    <label class="col-sm-3 control-label">{{'Columns.PageCustomizationDTO__Display' | translate }}</label>
    <div class="col-sm-9">
            <p class=""  >
        {{page.display}}
    </p>

    </div>
</div>

        
<div class="row form-group "
     id="FG_layout"
     #FG_layout="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.PageCustomizationDTO__Layout' | translate }}
    </label>
    <div class="col-sm-9">
        
<select class="form-control"
        name="Form__layout" 
        [li-watch]="page"
        [(ngModel)]="page.layout"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.Layout" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_layout.Write">{{FG_layout.Value}}</p>

        
    </div>
</div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item" [ngClass]="ActiveTab=='Controls'?'active':null">
    <a (click)="ActiveTab='Controls'">
{{'Words.Controls' | translate }}
    </a>
</li>
            <li class="nav-item" [ngClass]="ActiveTab=='ViewParameters'?'active':null">
    <a (click)="ActiveTab='ViewParameters'">
{{'Words.ViewParameters' | translate }}
    </a>
</li>
            <li class="nav-item" [ngClass]="ActiveTab=='CustomFields'?'active':null">
    <a (click)="ActiveTab='CustomFields'">
{{'Words.CustomFields' | translate }}
    </a>
</li>
        </ul>
    </div>

</div>

<div  id="Controls" [show-if]="ActiveTab=='Controls'" class="tab-page" #Controls>
    <div class="row">


        <div class="col-md-12">
            <table class="table table-striped informative">
                <thead>
                    <tr>
                            <th class="cursorPointer" [ngClass]="GetHeaderClass('ControlIdentifier')"  >
        {{'Columns.PageControlListDTO__ControlIdentifier' | translate }}
        <i class="fa fa-sort" (click)="SortBy('ControlIdentifier')"></i>
    </th>

                            <th class="cursorPointer" [ngClass]="GetHeaderClass('ControlType')"  >
        {{'Columns.PageControlListDTO__ControlType' | translate }}
        <i class="fa fa-sort" (click)="SortBy('ControlType')"></i>
    </th>

                            <th class="cursorPointer" [ngClass]="GetHeaderClass('Accessability')"  >
        {{'Columns.PageControlListDTO__Accessability' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Accessability')"></i>
    </th>

                            <th class="cursorPointer" [ngClass]="GetHeaderClass('SourceCollectionId')"  >
        {{'Columns.PageControlListDTO__SourceCollectionId' | translate }}
        <i class="fa fa-sort" (click)="SortBy('SourceCollectionId')"></i>
    </th>

                            <th class="cursorPointer" [ngClass]="GetHeaderClass('Persistent')"  >
        {{'Columns.PageControlListDTO__Persistent' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Persistent')"></i>
    </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of list;let i=index">
                        <td  >
    {{model.controlIdentifier}}
    <div style="position:relative">
        
    </div>
</td>
                        <td  >
    {{model.controlType}}
    <div style="position:relative">
        
    </div>
</td>
                        <td  >
    
<select class="form-control"
        name="Form__accessability{{i}}" 
        [li-watch]="model"
        [(ngModel)]="model.accessability"
         >
    <option *ngFor="let item of Lookups.Accessability" [ngValue]="item.id">{{item.name}}</option>
</select>

    <div style="position:relative">
        
    </div>
</td>
                        <td  >
    
<select class="form-control"
        name="Form__sourceCollectionId{{i}}" 
        [li-watch]="model"
        [(ngModel)]="model.sourceCollectionId"
         >
    <option *ngFor="let item of Lookups.Collection" [ngValue]="item.id">{{item.name}}</option>
</select>

    <div style="position:relative">
        
    </div>
</td>
                        <td  >
    <label class="chiller_cb">
    
    <input type="checkbox"
           [id]="'persistent'+i"
           [name]="'persistent'+i"
           [(ngModel)]="model.persistent"
           [li-watch]="model"
            >
    <span></span>
</label>
    <div style="position:relative">
        
    </div>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div  id="ViewParameters" [show-if]="ActiveTab=='ViewParameters'" class="tab-page" #ViewParameters>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group"
     id="ListUrl" bs-group #ListUrl="bsFormGroup"     >
    <label class="control-label">{{'Words.ListUrl' | translate }}</label>

    <div>
        <div class="input-group modal-selector">
            <label class="form-control" >
{{pageRoute.listUrlString}}            </label>

                <div class="input-group-btn"  *ngIf="ListUrl && ListUrl.Write">
                    <button class="btn" (click)="SelectComponent('listUrl')">
                        <i class="fa fa-window-restore"></i>
                    </button>

    <button class="btn btn-primary"
            (click)="Clear('listUrl')"
            
             title="{{'Words.Clear' | translate }}">
        <i class="fa fa-eraser"></i> 
    </button>
                </div>
        </div>
    </div>


</div>

        </div>
        <div class="col-md-6">
            <div class="form-group"
     id="AddUrl" bs-group #AddUrl="bsFormGroup"     >
    <label class="control-label">{{'Words.AddUrl' | translate }}</label>

    <div>
        <div class="input-group modal-selector">
            <label class="form-control" >
{{pageRoute.addUrlString}}            </label>

                <div class="input-group-btn"  *ngIf="AddUrl && AddUrl.Write">
                    <button class="btn" (click)="SelectComponent('addUrl')">
                        <i class="fa fa-window-restore"></i>
                    </button>

    <button class="btn btn-primary"
            (click)="Clear('addUrl')"
            
             title="{{'Words.Clear' | translate }}">
        <i class="fa fa-eraser"></i> 
    </button>
                </div>
        </div>
    </div>


</div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
     id="EditUrl" bs-group #EditUrl="bsFormGroup"     >
    <label class="control-label">{{'Words.EditUrl' | translate }}</label>

    <div>
        <div class="input-group modal-selector">
            <label class="form-control" >
{{pageRoute.editUrlString}}            </label>

                <div class="input-group-btn"  *ngIf="EditUrl && EditUrl.Write">
                    <button class="btn" (click)="SelectComponent('editUrl')">
                        <i class="fa fa-window-restore"></i>
                    </button>

    <button class="btn btn-primary"
            (click)="Clear('editUrl')"
            
             title="{{'Words.Clear' | translate }}">
        <i class="fa fa-eraser"></i> 
    </button>
                </div>
        </div>
    </div>


</div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
     id="DetailsUrl" bs-group #DetailsUrl="bsFormGroup"     >
    <label class="control-label">{{'Words.DetailsUrl' | translate }}</label>

    <div>
        <div class="input-group modal-selector">
            <label class="form-control" >
{{pageRoute.detailsUrlString}}            </label>

                <div class="input-group-btn"  *ngIf="DetailsUrl && DetailsUrl.Write">
                    <button class="btn" (click)="SelectComponent('detailsUrl')">
                        <i class="fa fa-window-restore"></i>
                    </button>

    <button class="btn btn-primary"
            (click)="Clear('detailsUrl')"
            
             title="{{'Words.Clear' | translate }}">
        <i class="fa fa-eraser"></i> 
    </button>
                </div>
        </div>
    </div>


</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                            <th class="cursorPointer" [ngClass]="GetHeaderClass('TypeString')"  >
        {{'Columns.PageParameter__TypeString' | translate }}
        <i class="fa fa-sort" (click)="SortBy('TypeString')"></i>
    </th>

                            <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')"  >
        {{'Columns.PageParameter__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>


                            <th class="cursorPointer" [ngClass]="GetHeaderClass('Entity.ParameterValue')"  >
        {{'Columns.PageParameter__ParameterValue' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Entity.ParameterValue')"></i>
    </th>


                        <th>{{'Words.SelectPage' | translate }}</th>
                        <th>{{'Columns.PageParameter__UseDefault' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let par of Parameters;let i=index">
                        <td  >
    {{&#x27;Words.&#x27;&#x2B;par.typeString | translate}}
    <div style="position:relative">
        
    </div>
</td>
                        <td  >
    {{par.name}}
    <div style="position:relative">
        
    </div>
</td>

                        <td   *ngIf="!IsPageReference(par)">
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.PageParameter__ParameterValue' | translate }}"
       name="parForm__entity_parameterValue{{i}}"
       [(ngModel)]="par.entity.parameterValue"
       title="{{'Columns.PageParameter__ParameterValue' | translate }}"
       [li-watch]="par"

       
        >


    <div style="position:relative">
        
    </div>
</td>
                        <td   *ngIf="IsPageReference(par)">
    {{par.viewPath}}
    <div style="position:relative">
        
    </div>
</td>

                        <td style="text-align:center">
                            <div class="col-md-6">
                                
    <button class="btn btn-primary btn-block"
            (click)="SelectComponent(null,par)"
             *ngIf="IsPageReference(par)"
             title="{{'Words.SelectComponent' | translate }}">
        <i class="fa fa-window-restore"></i> 
    </button>

                            </div>
                            <div class="col-md-6">
                                
    <button class="btn btn-default btn-block"
            (click)="ClearValue(par)"
             *ngIf="IsPageReference(par)"
             title="{{'Words.Clear' | translate }}">
        <i class="fa fa-eraser"></i> 
    </button>

                            </div>
                            
                        </td>
                        <td  >
    <label class="chiller_cb">
    
    <input type="checkbox"
           [id]="'useDef'+i"
           [name]="'useDef'+i"
           [(ngModel)]="par.entity.useDefault"
           [li-watch]="par"
            >
    <span></span>
</label>
    <div style="position:relative">
        
    </div>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div  id="CustomFields" [show-if]="ActiveTab=='CustomFields'" class="tab-page" #CustomFields>
    <div class="row">
        <div class="col-md-12">
<form #tableForm="ngForm" >
                <table class="table table-striped">
                    <thead>
                        <tr>
                                <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')" style='width:40%' >
        {{'Columns.CustomField__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>

                                <th class="cursorPointer" [ngClass]="GetHeaderClass('Type')" style='width:40%' >
        {{'Columns.CustomField__Type' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Type')"></i>
    </th>

                            <th style="width:20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of Fields;let i=index" [show-if]="field.state!='Removed'">
                            <td  >
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CustomField__Name' | translate }}"
       name="tableForm__name{{i}}"
       [(ngModel)]="field.name"
       title="{{'Columns.CustomField__Name' | translate }}"
       [li-watch]="field"

       
       required  >


    <div style="position:relative">
        <div class="cell-validation" *ngIf="tableForm.controls['tableForm__name'+i+''] && tableForm.controls['tableForm__name'+i+''].invalid && tableForm.controls['tableForm__name'+i+''].touched">
    <i class="fa fa-exclamation-circle redColor"></i>
    <div class="messages">
        <small *ngIf="tableForm.controls['tableForm__name'+i+''].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CustomField__Name' | translate } }}</small>

    </div>
</div>

    </div>
</td>
                            <td  >
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CustomField__Type' | translate }}"
       name="tableForm__type{{i}}"
       [(ngModel)]="field.type"
       title="{{'Columns.CustomField__Type' | translate }}"
       [li-watch]="field"

       
        >


    <div style="position:relative">
        
    </div>
</td>
                            <td>
                                <div class="btn-group btnResponsive ">


            <button *ngIf="subPermission.delete" class="btn btn-danger btn-sm" (click)="field.RemoveFrom(Fields)">
                <i class="fa fa-trash"></i>
            </button>

</div>
                            </td>

                        </tr>
                    </tbody>
                </table>
</form><form #newRowForm="ngForm" >
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td   style="width:40%">
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CustomField__Name' | translate }}"
       name="newRowForm__name"
       [(ngModel)]="newField.name"
       title="{{'Columns.CustomField__Name' | translate }}"
       [li-watch]="newField"

       
       required [pattern]="'[_a-zA-Z][_a-zA-Z0-9]{2,30}'"  >


    <div style="position:relative">
        <div class="cell-validation" *ngIf="newRowForm.controls['newRowForm__name'] && newRowForm.controls['newRowForm__name'].invalid && newRowForm.controls['newRowForm__name'].touched">
    <i class="fa fa-exclamation-circle redColor"></i>
    <div class="messages">
        <small *ngIf="newRowForm.controls['newRowForm__name'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CustomField__Name' | translate } }}</small>
<small *ngIf="newRowForm.controls['newRowForm__name'].errors!.pattern" class="form-text text-danger">{{'Messages.invalid_field' | translate : {p0:'Columns.CustomField__Name' | translate } }}</small>

    </div>
</div>

    </div>
</td>
                            <td   style="width:40%">
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CustomField__Type' | translate }}"
       name="newRowForm__type"
       [(ngModel)]="newField.type"
       title="{{'Columns.CustomField__Type' | translate }}"
       [li-watch]="newField"

       
        >


    <div style="position:relative">
        
    </div>
</td>
                            <td style="width:20%">
                                
    <button class="btn btn-primary"
            (click)="AddNewField()"
             [disabled]="newRowForm.invalid"
            >
        <i class="fa fa-plus"></i> {{'Words.Add' | translate }}
    </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
</form>
        </div>
    </div>
</div>



        
        
    </div>
</div>
