
<nav class="navbar navbar-static-top top-bar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a (click)="Slide()" class="mob">
                <i class="fa fa-bars"></i>
            </a>
            <button (click)="ToggleNav()" class="btn btn-default not-mob">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="pull-last" *ngIf="isLoggedIn">
            <ul class="nav navbar-nav">
                <li style="padding-top:10px">
                    <select class="form-control" [(ngModel)]="currentApp" (change)="appChanged()">
                        <option [ngValue]="app" *ngFor="let app of apps">{{app.Name}}</option>
                    </select>
                </li>
                <li>
                    <a (click)="Logout()">
                        {{'Words.LogOut' | translate}}
                        <i class="fa fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
