<!DOCTYPE>
@model CodeShellCore.Web.Moldster.IndexModel
<html>
<head>
    <title>@Model.Title</title>
    <base href="@Model.Config.BaseURL" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Cairo:700|Changa:400,700|Tajawal" rel="stylesheet">

    <link href="~/css/plugins/bootstrap@(Model.Config.Locale=="ar"?".rtl":"").css" rel="stylesheet" />
    <link href="~/css/plugins/animate.css" rel="stylesheet" />
    <link href="~/css/plugins/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/plugins/primeicons.css" rel="stylesheet" />
    <link href="~/css/plugins/primeng.min.css" rel="stylesheet" />
    <link href="~/css/gif-loader.css" rel="stylesheet" />
    <link href="~/dist/vendor.css" rel="stylesheet" />
    <link href="~/css/moldster.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    @if (Model.Config.Locale == "ar")
    {
        <link href="~/css/moldster.rtl.css" rel="stylesheet" />
        <link href="~/css/style.rtl.css" rel="stylesheet" />
    }
</head>
<body>
    <div id="view-data" style="display:none">@Model.ConfigString</div>
    <app>
        <div class="loader-overlay">
            <div class="loader"></div>
        </div>
    </app>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.Jcrop.min.js"></script>
    <script src="~/dist/vendor@("."+(Model.Config.Env=="dev"?"dev":"prod")).js"></script>
    <script src="~/dist/@(Model.Config.Domain+"-"+(Model.Config.Env=="dev"?"dev":Model.Config.Version)+".js")"></script>

</body>
</html>