<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Pages__PageCreate' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
        <li>
            <a routerLink="/routing/pages/page-tree-list">{{'Pages.Pages__PageTreeList' | translate }}</a>
        </li>
    <li>
        {{'Pages.Pages__PageCreate' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Pages__PageCreate' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div><div [ngClass]="IsEmbedded?'panel panel-default embedded':'container-fluid animated fadeInRight'">

    <div [ngClass]="IsEmbedded?'panel-body':'content-block'">
        <div class="row" *ngIf="UseLocalization">
            <div class="col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-6 padBottom">
                <div class="btn-group btn-group-sm pull-last">
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='ar'?'btn-primary':'btn-default'" (click)="CurrentLang='ar'">
                            {{'Words.ar' | translate }}
                        </button>
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='en'?'btn-primary':'btn-default'" (click)="CurrentLang='en'">
                            {{'Words.en' | translate }}
                        </button>
                </div>
            </div>

        </div>
        

<form #Form="ngForm">

    <div class="row">
        
<div class="form-group col-md-8 "
     id="FG_templatePath"
     #FG_templatePath="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__TemplatePath' | translate }} <span style="color:red">*</span></label>
    <ng-select [items]="Lookups.TemplatePath"
               name="Form__templatePath"
               bindLabel="name"
               bindValue="name"
               [(ngModel)]="model.templatePath"
               required  
               [multiple]="false"></ng-select>
        <p *ngIf="!FG_templatePath.Write">{{FG_templatePath.Value}}</p>

    <p *ngIf="!FG_templatePath.Write">{{FG_templatePath.Value}}</p>

    <span *ngIf="Form.controls['Form__templatePath'] && Form.controls['Form__templatePath'].invalid">
        <small *ngIf="Form.controls['Form__templatePath'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CreatePageDTO__TemplatePath' | translate } }}</small>
</span>
</div>


        
<div class="form-group col-md-4 "
     id="FG_tenantCode"
     #FG_tenantCode="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__TenantCode' | translate }} <span style="color:red">*</span></label>
    
<select class="form-control"
        name="Form__tenantCode" 
        [li-watch]="model"
        [(ngModel)]="model.tenantCode"
        required  >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.TenantCode" [ngValue]="item.code">{{item.name}}</option>
</select>
    <p *ngIf="!FG_tenantCode.Write">{{FG_tenantCode.Value}}</p>

    <span *ngIf="Form.controls['Form__tenantCode'] && Form.controls['Form__tenantCode'].invalid">
        <small *ngIf="Form.controls['Form__tenantCode'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CreatePageDTO__TenantCode' | translate } }}</small>
</span>
</div>

    </div>

    <div class="row">
        
<div class="form-group col-md-4 "
     id="FG_componentDomain"
     #FG_componentDomain="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__ComponentDomain' | translate }} </label>
    <div class="input-group modal-selector">
    <input
           class="form-control"
           placeholder="{{'Columns.CreatePageDTO__ComponentDomain' | translate }}"
           name="Form__componentDomain"
           [(ngModel)]="model.componentDomain"
           title="{{'Columns.CreatePageDTO__ComponentDomain' | translate }}"
           [li-watch]="model"
           
            (change)="writePath()" required="true" >
    <div class="input-group-btn">
        <button title="Select Domain" class="btn" (click)="TextBoxWithButtonClick('componentDomain')">
            <i class="fa fa-folder"></i>
        </button>
    </div>
</div>

    
</div>

        
<div class="form-group col-md-4 "
     id="FG_componentName"
     #FG_componentName="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__ComponentName' | translate }} <span style="color:red">*</span></label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CreatePageDTO__ComponentName' | translate }}"
       name="Form__componentName"
       [(ngModel)]="model.componentName"
       title="{{'Columns.CreatePageDTO__ComponentName' | translate }}"
       [li-watch]="model"

       
       required  (change)="writePath()" >
    <p *ngIf="!FG_componentName.Write">{{FG_componentName.Value}}</p>


    <span *ngIf="Form.controls['Form__componentName'] && Form.controls['Form__componentName'].invalid">
        <small *ngIf="Form.controls['Form__componentName'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CreatePageDTO__ComponentName' | translate } }}</small>
</span>
</div>

        
<div class="form-group col-md-4 "
     id="FG_routeParameters"
     #FG_routeParameters="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__RouteParameters' | translate }} </label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CreatePageDTO__RouteParameters' | translate }}"
       name="Form__routeParameters"
       [(ngModel)]="model.routeParameters"
       title="{{'Columns.CreatePageDTO__RouteParameters' | translate }}"
       [li-watch]="model"

       
        >
    <p *ngIf="!FG_routeParameters.Write">{{FG_routeParameters.Value}}</p>


    
</div>

    </div>
    <div class="row">
        
<div class="form-group col-md-8 " >
    <label>{{'Columns.CreatePageDTO__ComponentPath' | translate }}</label>
        <p class=""  >
        {{model.componentPath}}
    </p>

    
</div>

        
<div class="form-group col-md-4 "
     id="FG_usage"
     #FG_usage="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__Usage' | translate }} </label>
    <div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-toggle btnToggle radio-group">
                <label class="btn btn-default" [ngClass]="model.usage=='R'?'active':''">
                    <input type="radio" 
                           name="__usage" 
                           [(ngModel)]="model.usage" 
                           [value]="'R'" 
                             >
                    {{'Words.Route' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.usage=='E'?'active':''">
                    <input type="radio" 
                           name="__usage" 
                           [(ngModel)]="model.usage" 
                           [value]="'E'" 
                             >
                    {{'Words.Embedded' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.usage=='RE'?'active':''">
                    <input type="radio" 
                           name="__usage" 
                           [(ngModel)]="model.usage" 
                           [value]="'RE'" 
                             >
                    {{'Words.Both' | translate }}
                </label>

        </div>
    </div>

</div>
    
</div>


    </div>
    <div class="row" *ngIf="model.usage!='E'">
        
<div class="form-group col-md-6 "
     id="FG_apps"
     #FG_apps="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__Apps' | translate }} </label>
    <ng-select [items]="Lookups.Apps"
               name="Form__apps"
               bindLabel="name"
               bindValue="name"
               [(ngModel)]="model.apps"
                
               [multiple]="true"></ng-select>
        <p *ngIf="!FG_apps.Write">{{FG_apps.Value}}</p>

    <p *ngIf="!FG_apps.Write">{{FG_apps.Value}}</p>

    
</div>

        
<div class="form-group col-md-4 col-md-offset-2"
     id="FG_specialPermission"
     #FG_specialPermission="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__SpecialPermission' | translate }} </label>
    <div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-toggle btnToggle radio-group">
                <label class="btn btn-default" [ngClass]="model.specialPermission=='anonymous'?'active':''">
                    <input type="radio" 
                           name="__specialPermission" 
                           [(ngModel)]="model.specialPermission" 
                           [value]="'anonymous'" 
                             >
                    {{'Words.Anonymous' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.specialPermission=='allowAll'?'active':''">
                    <input type="radio" 
                           name="__specialPermission" 
                           [(ngModel)]="model.specialPermission" 
                           [value]="'allowAll'" 
                             >
                    {{'Words.Allow all' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.specialPermission==null?'active':''">
                    <input type="radio" 
                           name="__specialPermission" 
                           [(ngModel)]="model.specialPermission" 
                           [value]="null" 
                             >
                    {{'Words.Resource' | translate }}
                </label>

        </div>
    </div>

</div>
    
</div>

    </div>
    <div class="row" *ngIf="model.usage!='E'">
        
<div class="form-group col-md-6 "
     id="FG_resourceId"
     #FG_resourceId="bsFormGroup" bs-group
      *ngIf="!model.specialPermission">
    <label>{{'Columns.CreatePageDTO__ResourceId' | translate }} <span style="color:red">*</span></label>
    
<select class="form-control"
        name="Form__resourceId" 
        [li-watch]="model"
        [(ngModel)]="model.resourceId"
        required  >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.Resources" [ngValue]="item.id">{{item.name}}</option>
</select>
    <p *ngIf="!FG_resourceId.Write">{{FG_resourceId.Value}}</p>

    <span *ngIf="Form.controls['Form__resourceId'] && Form.controls['Form__resourceId'].invalid">
        <small *ngIf="Form.controls['Form__resourceId'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.CreatePageDTO__ResourceId' | translate } }}</small>
</span>
</div>

        
<div class="form-group col-md-6 "
     id="FG_actionType"
     #FG_actionType="bsFormGroup" bs-group
      *ngIf="!model.specialPermission">
    <label>{{'Columns.CreatePageDTO__ActionType' | translate }} </label>
    <div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-toggle btnToggle radio-group">
                <label class="btn btn-default" [ngClass]="model.actionType=='view'?'active':''">
                    <input type="radio" 
                           name="__actionType" 
                           [(ngModel)]="model.actionType" 
                           [value]="'view'" 
                             >
                    {{'Words.View' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.actionType=='update'?'active':''">
                    <input type="radio" 
                           name="__actionType" 
                           [(ngModel)]="model.actionType" 
                           [value]="'update'" 
                             >
                    {{'Words.Update' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.actionType=='insert'?'active':''">
                    <input type="radio" 
                           name="__actionType" 
                           [(ngModel)]="model.actionType" 
                           [value]="'insert'" 
                             >
                    {{'Words.Insert' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.actionType=='details'?'active':''">
                    <input type="radio" 
                           name="__actionType" 
                           [(ngModel)]="model.actionType" 
                           [value]="'details'" 
                             >
                    {{'Words.Details' | translate }}
                </label>

        </div>
    </div>

</div>
    
</div>

    </div>
    <div class="row">
        
<div class="form-group col-md-4 "
     id="FG_layout"
     #FG_layout="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__Layout' | translate }} </label>
    
<select class="form-control"
        name="Form__layout" 
        [li-watch]="model"
        [(ngModel)]="model.layout"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.Layout" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_layout.Write">{{FG_layout.Value}}</p>

    
</div>

        
<div class="form-group col-md-2 "
     id="FG_navigationGroup"
     #FG_navigationGroup="bsFormGroup" bs-group
      *ngIf="model.usage!='E'">
    <label>{{'Columns.CreatePageDTO__NavigationGroup' | translate }} </label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.CreatePageDTO__NavigationGroup' | translate }}"
       name="Form__navigationGroup"
       [(ngModel)]="model.navigationGroup"
       title="{{'Columns.CreatePageDTO__NavigationGroup' | translate }}"
       [li-watch]="model"

       autocomplete="off" list="AC__Form__navigationGroup"
        >
    <p *ngIf="!FG_navigationGroup.Write">{{FG_navigationGroup.Value}}</p>

    <datalist id="AC__Form__navigationGroup">
        <option *ngFor="let op of Lookups.NavigationGroup">{{op}}</option>
    </datalist>

    
</div>

        
<div class="form-group col-md-2 "
     id="FG_collectionId"
     #FG_collectionId="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__CollectionId' | translate }} </label>
    
<select class="form-control"
        name="Form__collectionId" 
        [li-watch]="model"
        [(ngModel)]="model.collectionId"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.Collection" [ngValue]="item.id">{{item.name}}</option>
</select>
    <p *ngIf="!FG_collectionId.Write">{{FG_collectionId.Value}}</p>

    
</div>

        
<div class="form-group col-md-4 "
     id="FG_defaultAccessibility"
     #FG_defaultAccessibility="bsFormGroup" bs-group
     >
    <label>{{'Columns.CreatePageDTO__DefaultAccessibility' | translate }} </label>
    <div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-toggle btnToggle radio-group">
                <label class="btn btn-default" [ngClass]="model.defaultAccessibility==1?'active':''">
                    <input type="radio" 
                           name="__defaultAccessibility" 
                           [(ngModel)]="model.defaultAccessibility" 
                           [value]="1" 
                             >
                    {{'Words.Read Only' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.defaultAccessibility==2?'active':''">
                    <input type="radio" 
                           name="__defaultAccessibility" 
                           [(ngModel)]="model.defaultAccessibility" 
                           [value]="2" 
                             >
                    {{'Words.Read Write' | translate }}
                </label>
                <label class="btn btn-default" [ngClass]="model.defaultAccessibility==3?'active':''">
                    <input type="radio" 
                           name="__defaultAccessibility" 
                           [(ngModel)]="model.defaultAccessibility" 
                           [value]="3" 
                             >
                    {{'Words.Hide' | translate }}
                </label>

        </div>
    </div>

</div>
    
</div>

    </div>
    <div class="row">

    </div>
</form>


        
        <div class="row submit-buttons">
            <div class="col-md-12">
                <div class="pull-last">
                    
        <button class="btn btn-primary"
            [disabled]="!CanSubmit"
            (click)="Submit()">
        {{'Words.Save' | translate }}
    </button>


                </div>
            </div>
        </div>
    </div>
</div>
