<div class="btn-group">
    @Html.Button(title: "RenderAll", icon: "fa fa-image fa-lg", function: "render('all')", btn: BtnClass.Primary)
    @Html.Button(title: "RenderDefinition", icon: "fa fa-language fa-lg", function: "render('definition')", btn: BtnClass.Warning)
</div>
