<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Tenants__TenantDetails' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
        <li>
            <a routerLink="/generations/tenants/tenant-list">{{'Pages.Tenants__TenantList' | translate }}</a>
        </li>
    <li>
        {{'Pages.Tenants__TenantDetails' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Tenants__TenantDetails' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div><div [ngClass]="IsEmbedded?'panel panel-default embedded':'container-fluid animated fadeInRight'">

    <div [ngClass]="IsEmbedded?'panel-body':'content-block'">
        <div class="row" *ngIf="UseLocalization">
            <div class="col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-6 padBottom">
                <div class="btn-group btn-group-sm pull-last">
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='ar'?'btn-primary':'btn-default'" (click)="CurrentLang='ar'">
                            {{'Words.ar' | translate }}
                        </button>
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='en'?'btn-primary':'btn-default'" (click)="CurrentLang='en'">
                            {{'Words.en' | translate }}
                        </button>
                </div>
            </div>

        </div>
        

<form #Form="ngForm">
    <div class="row">
        
<div class="form-group col-md-6 "
     id="FG_entity_code"
     #FG_entity_code="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__Code' | translate }} <span style="color:red">*</span></label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.Tenant__Code' | translate }}"
       name="Form__entity_code"
       [(ngModel)]="model.entity.code"
       title="{{'Columns.Tenant__Code' | translate }}"
       [li-watch]="model"

       
       required is-unique [data-service]="Service" [item-id]="model.id" column-id="Code"  >
    <p *ngIf="!FG_entity_code.Write">{{FG_entity_code.Value}}</p>


    <span *ngIf="Form.controls['Form__entity_code'] && Form.controls['Form__entity_code'].invalid">
        <small *ngIf="Form.controls['Form__entity_code'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.Tenant__Code' | translate } }}</small>
        <small *ngIf="Form.controls['Form__entity_code'].errors!.unique" class="form-text text-danger">{{'Messages.field_exists' | translate : {p0:'Columns.Tenant__Code' | translate } }}</small>
</span>
</div>

        
<div class="form-group col-md-6 "
     id="FG_entity_name"
     #FG_entity_name="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__Name' | translate }} <span style="color:red">*</span></label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.Tenant__Name' | translate }}"
       name="Form__entity_name"
       [(ngModel)]="model.entity.name"
       title="{{'Columns.Tenant__Name' | translate }}"
       [li-watch]="model"

       
       required  >
    <p *ngIf="!FG_entity_name.Write">{{FG_entity_name.Value}}</p>


    <span *ngIf="Form.controls['Form__entity_name'] && Form.controls['Form__entity_name'].invalid">
        <small *ngIf="Form.controls['Form__entity_name'].errors!.required" class="form-text text-danger">{{'Messages.field_required' | translate : {p0:'Columns.Tenant__Name' | translate } }}</small>
</span>
</div>

    </div>
    <div class="row">
        
        
<div class="form-group col-md-6 "
     id="FG_entity_connectionString"
     #FG_entity_connectionString="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__ConnectionString' | translate }} </label>
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.Tenant__ConnectionString' | translate }}"
       name="Form__entity_connectionString"
       [(ngModel)]="model.entity.connectionString"
       title="{{'Columns.Tenant__ConnectionString' | translate }}"
       [li-watch]="model"

       
        >
    <p *ngIf="!FG_entity_connectionString.Write">{{FG_entity_connectionString.Value}}</p>


    
</div>

    </div>
    <div class="row">
        
<div class="form-group col-md-6 "
     id="FG_entity_logoFile"
     #FG_entity_logoFile="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__LogoFile' | translate }} </label>
    
<div class="input-group">
    <label class="form-control">
        <a *ngIf="model.entity.logoFile"
           class="file-link"
           target="_blank"
           [routerLink]="'/'+model.entity.logoFile.url">
            {{model.entity.logoFile.name}}
        </a>
    </label>

            <div class="input-group-btn">
                <label class="btn btn-primary">
                    <input name="f_logo"
                           type="file"
                           [(ngModel)]="f_logo"
                           [file-uploader]="upload"
                           [(fileData)]="model.entity.logoFile"
                            
                           style="display:none">
                    <i class="fa fa-upload"></i>
                </label>
            </div>
</div>

    
</div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group"
     id="MainComponentBase" bs-group #MainComponentBase="bsFormGroup"     >
    <label class="control-label">{{'Words.MainComponentBase' | translate }}</label>

    <div>
        <div class="input-group modal-selector">
            <label class="form-control" >
{{model.entity.mainComponentBase}}            </label>

                <div class="input-group-btn"  *ngIf="MainComponentBase && MainComponentBase.Write">
                    <button class="btn" (click)="SelectTemplate()">
                        <i class="fa fa-window-restore"></i>
                    </button>
                </div>
        </div>
    </div>


</div>
        </div>
        
<div class="form-group col-md-6 " >
    <label>{{'Columns.Tenant__Version' | translate }}</label>
        <p class=""  >
        {{model.entity.version}}
    </p>

    
</div>

    </div>

    <div class="row">

        <div class="col-md-12 section-header">{{'Words.Publishing' | translate }}</div>
    </div>

    <div class="row">
<div  class="from-group" id="update_buttons" #update_buttons>
            <div class="col-md-3">
                <br />
                <div class="input-group btn-group">
                    
    <button class="btn btn-info"
            (click)="SyncTenant()"
            
            >
        <i class="fa fa-sync"></i> {{'Words.UpdateConfigurations' | translate }}
    </button>

                    
    <button class="btn btn-default"
            (click)="Render()"
            
            >
        <i class="fa fa-image"></i> {{'Words.Render' | translate }}
    </button>

                </div>
            </div>
</div>        
<div class="form-group col-md-2 "
     id="FG_environment"
     #FG_environment="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__Environment' | translate }} </label>
    
<select class="form-control"
        name="Form__environment" 
        [li-watch]="model"
        [(ngModel)]="model.environment"
         (change)="env_change()" >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of environments" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_environment.Write">{{FG_environment.Value}}</p>

    
</div>

        
<div class="form-group col-md-3 "
     id="FG_dbName"
     #FG_dbName="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__DbName' | translate }} </label>
    
<select class="form-control"
        name="Form__dbName" 
        [li-watch]="model"
        [(ngModel)]="model.dbName"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of databases" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_dbName.Write">{{FG_dbName.Value}}</p>

    
</div>


        
<div class="form-group col-md-1 "
     id="FG_force"
     #FG_force="bsFormGroup" bs-group
     >
    <label>{{'Columns.Tenant__Force' | translate }} </label>
    
<label  class="check-label ">
    <i class="fa fa-lg" [ngClass]="model.force?'fa-toggle-on greenColor':'fa-toggle-off grayColor'"></i>
    


    <input name="__force"
           style="display:none"
           type="checkbox"
            title="Force" 
           
           [(ngModel)]="model.force">
</label>


    
</div>



<div  class="from-group" id="update_buttons" #update_buttons>
            <div class="col-md-3">
                <br />

                <div class="input-group btn-group">

                    
    <button class="btn btn-primary"
            (click)="UpdateDatabase()"
             [disabled]="!model.dbName"
            >
        <i class="fa fa-download"></i> {{'Words.UpdateDatabase' | translate }}
    </button>

                    
    <button class="btn btn-success"
            (click)="Publish()"
             [disabled]="!model.environment"
            >
        <i class="fa fa-upload"></i> {{'Words.Publish' | translate }}
    </button>

                </div>
            </div>
</div>
    </div>

</form>

<div class="row" style="height:400px">
    <app-generation-inof-list #OutputListener [IsEmbedded]='true'></app-generation-inof-list>
</div>



        
        <div class="row submit-buttons">
            <div class="col-md-12">
                <div class="pull-last">
                    
        <button class="btn btn-primary"
            [disabled]="!CanSubmit"
            (click)="Submit()">
        {{'Words.Save' | translate }}
    </button>


                </div>
            </div>
        </div>
    </div>
</div>
