import { %Parent% } from "%ParentPath%";
import { Injectable } from "@angular/core";
import { Component } from "@angular/core";

@Component({ template : "" })
export abstract class %Name% extends %Parent% {
	
}