import { Component } from "@angular/core";
import { %BaseClass% } from "%BaseClassLocation%";

@Component({ templateUrl : "./%TemplateName%.html", selector : "%Selector%" })
export class %ComponentName% extends %BaseClass% {
	public GetPageId() : number { return %PageId%; }
}