import { NgModule } from "@angular/core";
import { CodeShellModule } from "CodeShell/CodeShellModule";
import { SharedModule } from "./SharedModule%Lazy%";
import { Registry } from "CodeShell/Utilities/Registry";
%ComponentImports%

@NgModule({
    declarations: [%Components%],
    exports: [%Components%],
    imports: [
        CodeShellModule,
		SharedModule
    ]
})
export class %Name%Module {
}

%Registrations%