import { NgModule } from "@angular/core";
import { CodeShellModule } from "codeshell";
import { SharedModule } from "./SharedModule%Lazy%";
import { Registry } from "codeshell/core";
%ComponentImports%

@NgModule({
    declarations: [%Components%],
    exports: [%Components%],
    imports: [
		SharedModule
    ]
})
export class %Name%Module {
}

%Registrations%