import { Component } from "@angular/core";
import { %BaseClass% } from "%BaseClassLocation%";
import { ServerConfig } from "FMS/ServerConfig";

@Component({ templateUrl: "./%ComponentName%.html", selector : "%Selector%"  })
export class %ComponentName% extends %BaseClass% {
	public GetPageId() : number { return %PageId%; }
	protected get Resource(): string { return "%Resource%"; }
    protected get ServiceUrl(): string { return ServerConfig.Instance.Services.%Domain%; }
}