using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Dependency.Analyzer
{
    class Program
    {
        static void Main(string[] args)
        {
            var list = new List<string>
            {
                %Assemblies%
            };

            List<DependencyItem> dependencies = new List<DependencyItem>();
            if (DependencyAnalyzerOptions.Read)
            {
                var items_tsk = DependencyAnalyzer.Read(list);
                items_tsk.Wait();
                dependencies = items_tsk.Result;
            }

            if (DependencyAnalyzerOptions.GenerateModuleClasses)
            {
                DependencyAnalyzer.Generate("%Directory%", dependencies).Wait();
            }
        }
    }
}
