<div [@loader]="ShowLoader ? 'shown' : 'hidden'" class="loader-overlay">
    <div class="loader"></div>
</div>

<div>
    <top-bar></top-bar>
    <div class="wrapper">
        <div class="wrapper-side">
            <navigationSideBar></navigationSideBar>
        </div>
        <div class="wrapper-content">
            <router-outlet></router-outlet>
        </div>
    </div>
   
</div>

<div [ngClass]="Config.Locale=='ar'? 'ui-rtl':null" [dir]="Config.Locale=='ar'? 'rtl':null">
    <ng-template test-loader></ng-template>

    <p-dialog #deleteDialog [(visible)]="deleteDialogShow" [modal]="true" width="600">
        <p-header>
            {{'Words.Delete' | translate }}
        </p-header>
        <p>{{'Messages.delete_confirm_message' | translate }}</p>
        <br />

        <div class="submit-buttons pull-last">
            <button class="btn btn-default" (click)="OnDeleteCancel($event)">{{'Words.No' | translate}}</button>
            <button class="btn btn-primary" (click)="OnDeleteConfirm($event)">{{'Words.Yes' | translate}}</button>
        </div>
    </p-dialog>

    <p-dialog #deleteDialog [(visible)]="ConfirmDialogShow" [modal]="true" width="600">
        <p-header>
            {{headerMsg }}
        </p-header>
        <p>   {{MsgData}}</p>
        <br />

        <div class="submit-buttons pull-last">
            <button class="btn btn-default" (click)="OnDeleteCancel($event)">{{'Words.No' | translate}}</button>
            <button class="btn btn-primary" (click)="OnDeleteConfirm($event)">{{'Words.Yes' | translate}}</button>

        </div>
    </p-dialog>

    <p-dialog #prompt [(visible)]="promptShow" [modal]="true">
        <p [innerHTML]="promptMessage"></p>
        <br />
        <div class="submit-buttons">
            <button class="btn btn-primary pull-first" (click)="promptShow=false">{{'OK' | translate}}</button>
        </div>
    </p-dialog>
</div>

