@*ID:1924661356000*@
@model User
@{
    Layout = Html.Config().Layout;
}
<table class="table table-striped">
    <thead>
        @Html.HeaderCell(d => d.BirthDate)
        @Html.HeaderCell(d => d.FirstName)
    </thead>
    <tbody>
        @Html.TextCell(d => d.BirthDate)
        @Html.TextCell(d => d.FirstName)
    </tbody>
</table>