@model RoleListDTO
@{
    Layout = Html.Config().Layout;
}

<table class="table table-striped">
    <thead>
        <tr>
            @Html.HeaderCell(d => d.Name)
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let model of list">
            @Html.TextCell(d => d.Name)
            <td>@Html.ListModifiers()</td>
        </tr>
    </tbody>
</table>
