import { EntityHttpService } from "codeshell/http";
import { Injectable } from "@angular/core";

@Injectable()
export class %Resource%Service extends EntityHttpService {

    protected get BaseUrl(): string {
        return "/apiAction/%Resource%";
    }

}
