.pull-last {
    float: left;
}

.pull-first {
    float: right;
}

.text-first {
    text-align: right;
}

.text-last {
    text-align: left;
}



body {
    font-family: 'Tajawal'
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.tab-page {

}

.user-profile {
    
}