@*ID:1824142854000*@
@model ChangePasswordDTO

@{
    Layout = Html.Config().Layout;
}

<form #Form="ngForm">
    @Html.ControlGroup(d => d.OldPassword, TextBoxTypes.Password, coll: Html.VCollection().AddRequired())
    @Html.ControlGroup(d => d.Password, TextBoxTypes.Password, coll: Html.VCollection().AddRequired().AddLength(20, 5))
    @Html.ControlGroup(d => d.PasswordConfirm, TextBoxTypes.Password, coll: Html.VCollection().AddRequired("model.password!=null").AddLength(20, 5).AddPattern("model.password"))
</form>

@section buttons{
    @Html.SubmitButton()
}
