<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Routing__NavigationPageList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
    <li>
        {{'Pages.Routing__NavigationPageList' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Routing__NavigationPageList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div [ngClass]="IsEmbedded?'panel panel-default embedded body':'animated fadeInRight'">
    <div [ngClass]="IsEmbedded?'panel-body':'container-fluid content-block'">
        <div class="row">
            <div class="col-md-4" style="padding: 10px 24px;color:#9B9B9B">
                <span><b>{{'Words.Count' | translate }}</b> : <span style="color:#9B9B9B">{{totalCount}}</span></span>
            </div>
            <div class="col-md-8">
                <search-group (termChange)="HeaderSearch($event)"></search-group>
            </div>
        </div>
        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>

        <div class="table-responsive">
            


<table class="table table-striped">
    <thead>
        <tr>
                <th  >
        {{'Columns.NavigationPage__Url' | translate }}
    </th>

                <th  >
        {{'Columns.NavigationPage__DisplayOrder' | translate }}
    </th>

            <th>Order</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of list;let i=index" [hidden]="model.state=='Removed'">
            <td  >
    {{model.url}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.displayOrder}}
    <div style="position:relative">
        
    </div>
</td>
            <td style="width:150px">
                <div class="buttonGra-group">
                    
    <button class="btn btn-primary buttonGra-sm"
            (click)="ApplyOrder(model.id,list[i-1]?.id)"
             [disabled]="i==0"
            >
        <i class="fa fa-arrow-up"></i> 
    </button>

                    
    <button class="btn btn-default buttonGra-sm"
            (click)="ApplyOrder(model.id,list[i+1]?.id)"
             [disabled]="i==list.length-1"
            >
        <i class="fa fa-arrow-down"></i> 
    </button>

                </div>
            </td>
            <td>
                <div class="btn-group btnResponsive ">


            <button *ngIf="Permission.delete" class="btn btn-danger btn-sm" (click)="delete(model.id)">
                <i class="fa fa-trash"></i>
            </button>

</div>
            </td>
        </tr>
    </tbody>
</table>
        </div>

        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>
    </div>

</div>