
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            
                <div class="navbar-brand">
                    <a class="btn btn-primary " onclick="slide()" href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
           
        </div>

        <div class="collapse navbar-collapse pull-last">
            <ul class="nav navbar-nav">
                <li>
                    <a (click)="ChangeLang()">
                        {{'Words.Lang' | translate}}
                    </a>
                </li>
                <li *ngIf="!isLoggedIn">
                    <a routerLink="/Login">
                        {{'Words.Login' | translate}} <i class="fa fa-sign-in-alt"></i>
                    </a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a (click)="Logout()">
                        {{'Words.Logout' | translate}} <i class="fa fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
