<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Templates__PageCategoriesTreeList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        

    <button class="btn btn-primary"
            (click)="OpenModules()"
            
            >
        <i class="fa fa-list fa-lg"></i> {{'Words.Modules' | translate }}
    </button>

    <button class="btn btn-success"
            (click)="AddPageCategory()"
            
            >
        <i class="fa fa-plus fa-lg"></i> {{'Words.AddEntity' | translate : {p0:'PageCategory'} }}
    </button>
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
    <li>
        {{'Pages.Templates__PageCategoriesTreeList' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Templates__PageCategoriesTreeList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-domain-tree #DomainTree [IsEmbedded]='true'></app-domain-tree>
        </div>
        <div class="col-md-9" style="margin-top:11px;padding-left:0px">
            <app-page-category-list #PageCategoryList [IsEmbedded]='true'></app-page-category-list>
        </div>
    </div>
</div>






