<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Templates__PageCategoryEdit' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                    <div class="col-md-8 col-xs-12 text-last padTop">
                        <div class="btn-group">
    
    <button class="btn btn-warning"
            (click)="Process()"
            
            >
        <i class="fa fa-cog"></i> {{'Words.Process' | translate }}
    </button>

</div>
                    </div>
                <div class="col-md-4 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
        <li>
            <a routerLink="/razor/templates/page-categories-tree-list">{{'Pages.Templates__PageCategoriesTreeList' | translate }}</a>
        </li>
    <li>
        {{'Pages.Templates__PageCategoryEdit' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Templates__PageCategoryEdit' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div><div [ngClass]="IsEmbedded?'panel panel-default embedded':'container-fluid animated fadeInRight'">

    <div [ngClass]="IsEmbedded?'panel-body':'content-block'">
        <div class="row" *ngIf="UseLocalization">
            <div class="col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-6 padBottom">
                <div class="btn-group btn-group-sm pull-last">
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='ar'?'btn-primary':'btn-default'" (click)="CurrentLang='ar'">
                            {{'Words.ar' | translate }}
                        </button>
                        <button class="btn btn-sm" [ngClass]="CurrentLang=='en'?'btn-primary':'btn-default'" (click)="CurrentLang='en'">
                            {{'Words.en' | translate }}
                        </button>
                </div>
            </div>

        </div>
        

<form #Form="ngForm">
    <div class="row">
        
<div class="form-group col-md-6 " >
    <label>{{'Columns.PageCategory__ViewPath' | translate }}</label>
        <p class=""  >
        {{model.viewPath}}
    </p>

    
</div>

    </div>
    <div class="row">
        
<div class="form-group col-md-6 "
     id="FG_resourceId"
     #FG_resourceId="bsFormGroup" bs-group
     >
    <label>{{'Columns.PageCategory__ResourceId' | translate }} </label>
    
<select class="form-control"
        name="Form__resourceId" 
        [li-watch]="model"
        [(ngModel)]="model.resourceId"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.Resources" [ngValue]="item.id">{{item.name}}</option>
</select>
    <p *ngIf="!FG_resourceId.Write">{{FG_resourceId.Value}}</p>

    
</div>

        
<div class="form-group col-md-6 "
     id="FG_baseComponent"
     #FG_baseComponent="bsFormGroup" bs-group
     >
    <label>{{'Columns.PageCategory__BaseComponent' | translate }} </label>
    
<select class="form-control"
        name="Form__baseComponent" 
        [li-watch]="model"
        [(ngModel)]="model.baseComponent"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.BaseComponent" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_baseComponent.Write">{{FG_baseComponent.Value}}</p>

    
</div>

    </div>
    <div class="row">
        
<div class="form-group col-md-6 "
     id="FG_layout"
     #FG_layout="bsFormGroup" bs-group
     >
    <label>{{'Columns.PageCategory__Layout' | translate }} </label>
    
<select class="form-control"
        name="Form__layout" 
        [li-watch]="model"
        [(ngModel)]="model.layout"
         >
        <option [ngValue]="null">--({{'Words.Empty' | translate }})--</option>
    <option *ngFor="let item of Lookups.layouts" [ngValue]="item.name">{{item.name}}</option>
</select>
    <p *ngIf="!FG_layout.Write">{{FG_layout.Value}}</p>

    
</div>

    </div>
</form>



<div class="col-md-6">
    <div class="col-md-12 section-header">
        {{'Words.Controls' | translate }}
    </div>
    <table class="table table-striped informative">
        <thead>
            <tr>
                    <th class="cursorPointer" [ngClass]="GetHeaderClass('ControlType')"  >
        {{'Columns.Control__ControlType' | translate }}
        <i class="fa fa-sort" (click)="SortBy('ControlType')"></i>
    </th>

                    <th class="cursorPointer" [ngClass]="GetHeaderClass('Identifier')"  >
        {{'Columns.Control__Identifier' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Identifier')"></i>
    </th>



            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let con of model.controls;let i=index">
                <td  >
    {{con.controlType}}
    <div style="position:relative">
        
    </div>
</td>
                <td  >
    {{con.identifier}}
    <div style="position:relative">
        
    </div>
</td>


            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <div class="col-md-12 section-header">
        {{'Words.Parameters' | translate }}
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                    <th class="cursorPointer" [ngClass]="GetHeaderClass('TypeString')"  >
        {{'Columns.PageCategoryParameter__TypeString' | translate }}
        <i class="fa fa-sort" (click)="SortBy('TypeString')"></i>
    </th>

                    <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')"  >
        {{'Columns.PageCategoryParameter__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>

                    <th class="cursorPointer" [ngClass]="GetHeaderClass('DefaultValue')"  >
        {{'Columns.PageCategoryParameter__DefaultValue' | translate }}
        <i class="fa fa-sort" (click)="SortBy('DefaultValue')"></i>
    </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let par of model.pageCategoryParameters;let i=index">
                <td  >
    {{&#x27;Words.&#x27;&#x2B;par.typeString | translate}}
    <div style="position:relative">
        
    </div>
</td>
                <td  >
    {{par.name}}
    <div style="position:relative">
        
    </div>
</td>
                <td  >
    {{par.defaultValue}}
    <div style="position:relative">
        
    </div>
</td>
            </tr>
        </tbody>
    </table>
</div>



        
        <div class="row submit-buttons">
            <div class="col-md-12">
                <div class="pull-last">
                    
        <button class="btn btn-primary"
            [disabled]="!CanSubmit"
            (click)="Submit()">
        {{'Words.Save' | translate }}
    </button>


                </div>
            </div>
        </div>
    </div>
</div>
