<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Routing__NaveList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
    <li>
        {{'Pages.Routing__NaveList' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Routing__NaveList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div><div [ngClass]="IsEmbedded?'panel panel-default embedded':'animated fadeInRight'">
    <div [ngClass]="IsEmbedded?'panel-body':'container-fluid'">
        

    <button class="btn btn-success"
            (click)="addNave()"
            
             title="{{'Words.Add Nave' | translate }}">
        <i class="fa fa-plus fa-sm"></i> 
    </button>



<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
                <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')"  >
        {{'Columns.NavigationGroup__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>

            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isNew">
            <td></td>
            <td  >
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.NavigationGroup__Name' | translate }}"
       name="Form__name"
       [(ngModel)]="model.name"
       title="{{'Columns.NavigationGroup__Name' | translate }}"
       [li-watch]="model"

       
        >


    <div style="position:relative">
        
    </div>
</td>
            <td>
                
    <button class="btn btn-primary"
            (click)="save()"
            
             title="{{'Words.Save' | translate }}">
        <i class="fa fa-save fa-lg"></i> 
    </button>

            </td>
        </tr>
        <tr *ngFor="let model of list; let i = index" [class.selected]="i == selectedRow">
            <td>
                <a *ngIf="!isEdit" title="select" class="btn btn-success btn-sm" style="border-radius:0px;" (click)="loadPageList(model);setClickedRow(i);">
                    <i class="fa fa-bars"></i>
                </a>
            </td>
            <td  >
    {{model.name}}
    <div style="position:relative">
        
    </div>
</td>
            <td   *ngIf="isEdit && selectedEdit == model.id">
    <input type="text"
       class="form-control "
       placeholder="{{'Columns.NavigationGroup__Name' | translate }}"
       name="Form__name"
       [(ngModel)]="model.name"
       title="{{'Columns.NavigationGroup__Name' | translate }}"
       [li-watch]="model"

       
        >


    <div style="position:relative">
        
    </div>
</td>
            <td *ngIf="!isEdit">
                <div class="btn-group btnResponsive ">
            <button *ngIf="Permission.update" class="btn btn-primary btn-sm" (click)="openEdit(model)">
                <i class="fa fa-pen"></i>
            </button>


            <a *ngIf="Permission.delete" class="btn btn-danger btn-sm" (click)="Delete(model.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>

</div>
            </td>
            <td *ngIf="isEdit && selectedEdit == model.id">

                <a title="Save" class="btn btn-success btn-sm" style="border-radius:0px;" (click)="saveEdit(model)">
                    <i class="fa fa-check"></i>
                </a>
                <a title="Cancel" class="btn btn-danger btn-sm" style="border-radius:0px;" (click)="cancel()">
                    <i class="fa fa-close"></i>
                </a>
            </td>
            <td colspan="3"></td>
        </tr>

    </tbody>
</table>

        
        
    </div>
</div>
