<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Resources__ResourceList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
    <button class="btn btn-success"
            (click)="Create()"
            
            >
        <i class="fa fa-plus"></i> {{'Words.AddResource' | translate }}
    </button>

                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">
        <ol class="breadcrumb">
    <li>
        <a routerLink="/">{{'Words.Main' | translate }}</a>
    </li>
    <li>
        {{'Pages.Resources__ResourceList' | translate }}
    </li>
</ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Resources__ResourceList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div [ngClass]="IsEmbedded?'panel panel-default embedded body':'animated fadeInRight'">
    <div [ngClass]="IsEmbedded?'panel-body':'container-fluid content-block'">
        <div class="row">
            <div class="col-md-4" style="padding: 10px 24px;color:#9B9B9B">
                <span><b>{{'Words.Count' | translate }}</b> : <span style="color:#9B9B9B">{{totalCount}}</span></span>
            </div>
            <div class="col-md-8">
                <search-group (termChange)="HeaderSearch($event)"></search-group>
            </div>
        </div>
        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>

        <div class="table-responsive">
            <table class="table">
    <thead>
        <tr>
                <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')"  >
        {{'Columns.Resource__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('Domain')"  >
        {{'Columns.Resource__Domain' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Domain')"></i>
    </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of list">
            <td  >
    {{model.name}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.domain}}
    <div style="position:relative">
        
    </div>
</td>
            <td>
                <div class="btn-group btnResponsive ">
            <button *ngIf="Permission.update" class="btn btn-primary btn-sm" (click)="Edit(model)">
                <i class="fa fa-pen"></i>
            </button>


            <a *ngIf="Permission.delete" class="btn btn-danger btn-sm" (click)="Delete(model.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>

</div>
            </td>

        </tr>
    </tbody>
</table>
        </div>

        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>
    </div>

</div>