<div [hidden]="!ShowLoader" class="loader-overlay">
    <div class="loader"></div>
</div>

<div>
    <div class="wrapper">
        <top-bar #topBar></top-bar>
        <div class="wrapper-side" *ngIf="IsLoggedIn && ShowNav">
            <navigation-side-bar></navigation-side-bar>
        </div>
        <div class="wrapper-content" [ngClass]="!IsLoggedIn || !ShowNav?'expanded':null">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div [ngClass]="Locale=='ar'? 'ui-rtl':null" [dir]="Locale=='ar'? 'rtl':null">
    <ng-template acs-component-loader></ng-template>

    <p-dialog #deleteDialog [(visible)]="deleteDialogShow" [modal]="true" width="600">
        <p-header>
            {{confirmTitle }}
        </p-header>
        <p>{{confirmMessage }}</p>
        <br />

        <p-footer>
            <div class="text-center modal-buttons">
                <button class="btn btn-primary" (click)="OnDeleteConfirm($event)">{{'Words.Yes' | translate}}</button>
                <button class="btn btn-default" (click)="OnDeleteCancel($event)">{{'Words.No' | translate}}</button>
            </div>
        </p-footer>
    </p-dialog>

    <p-dialog #prompt [(visible)]="promptShow" [modal]="true">
        <p [innerHTML]="promptMessage"></p>
        <br />
        <p-footer>
            <div class="text-center modal-buttons">
                <button class="btn btn-primary" (click)="promptShow=false">{{'OK' | translate}}</button>
            </div>
        </p-footer>
    </p-dialog>
</div>