@{ 
    Layout = Html.Config().Layout;
    Html.AddParameter("NavSection");
    Html.AddParameter("NavGroup");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            @Html.ComponentSelectorFromOther("list_component")
        </div>
        <div class="col-md-5">
            @Html.ComponentSelectorFromOther("edit_component")
        </div>
    </div>
</div>
