<div class="page-header" [ngClass]="IsEmbedded?'section-header':'container-fluid'" *ngIf="!HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12" *ngIf="!IsEmbedded">
            <h2>{{'Pages.Users__UserList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12" *ngIf="!IsEmbedded">
            <div class="row">

                <div class="col-md-12 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
    <a class="btn btn-success"
       [routerLink]="'/Auth/Users/UserCreate'"
        *ngIf="Permission.insert"
       >
        <i class="fa fa-plus"></i> {{'Words.AddEntity' | translate : {p0:'Words.User' | translate } }}
    </a>

                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="IsEmbedded" class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    {{'Pages.Users__UserList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
                </div>
                <div class="col-md-4">

    <a class="btn btn-success buttonGra-sm"
       [routerLink]="'/Auth/Users/UserCreate'"
        *ngIf="Permission.insert"
       >
        <i class="fa fa-plus"></i> {{'Words.AddEntity' | translate : {p0:'Words.User' | translate } }}
    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!IsEmbedded">

        <ol class="breadcrumb">
            <li>
                <a routerLink="'/'">{{'Words.Main' | translate }}</a>
            </li>
            <li>
                {{'Pages.Users__UserList' | translate }}
            </li>
        </ol>
    </div>
</div>
<div [ngClass]="IsEmbedded?'panel panel-default embedded body':'animated fadeInRight'">
    <div [ngClass]="IsEmbedded?'panel-body':'container-fluid content-block'">
        <div class="row">
            <div class="col-md-4" style="padding: 10px 24px;color:#9B9B9B">
                <span><b>{{'Words.Count' | translate }}</b> : <span style="color:#9B9B9B">{{totalCount}}</span></span>
            </div>
            <div class="col-md-8">
                <search-group (termChange)="HeaderSearch($event)"></search-group>
            </div>
        </div>
        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>

        <div class="table-responsive">
            


<table class="table table-striped">
    <thead>
        <tr>
                <th class="cursorPointer" [ngClass]="GetHeaderClass('Name')"  >
        {{'Columns.User__Name' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Name')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('LogonName')"  >
        {{'Columns.User__LogonName' | translate }}
        <i class="fa fa-sort" (click)="SortBy('LogonName')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('BirthDate')"  >
        {{'Columns.User__BirthDate' | translate }}
        <i class="fa fa-sort" (click)="SortBy('BirthDate')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('Email')"  >
        {{'Columns.User__Email' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Email')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('Mobile')"  >
        {{'Columns.User__Mobile' | translate }}
        <i class="fa fa-sort" (click)="SortBy('Mobile')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('AppName')"  >
        {{'Columns.User__AppName' | translate }}
        <i class="fa fa-sort" (click)="SortBy('AppName')"></i>
    </th>

                <th class="cursorPointer" [ngClass]="GetHeaderClass('CreatedOn')"  >
        {{'Columns.User__CreatedOn' | translate }}
        <i class="fa fa-sort" (click)="SortBy('CreatedOn')"></i>
    </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of list">
            <td  >
    {{model.name}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.logonName}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.birthDate | date : &#x27;dd/MM/yyyy&#x27;}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.email}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.mobile}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.appName}}
    <div style="position:relative">
        
    </div>
</td>
            <td  >
    {{model.createdOn}}
    <div style="position:relative">
        
    </div>
</td>
            <td>
                <div class="btn-group btnResponsive ">
            <a *ngIf="Permission.update" class="btn btn-primary btn-sm" [routerLink]="'/Auth/Users/UserEdit/' +model.id">
                <i class="fa fa-pen"></i>
            </a>


                <a *ngIf="Permission.delete" class="btn btn-danger btn-sm" (click)="Delete(model,model.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>

</div>
            </td>
        </tr>
    </tbody>
</table>

        </div>

        <paginate [showing]="options.Showing" [total-count]="totalCount" [max-pages]="10" [(currentPage)]="pageIndex" (pageChange)="PageSelected($event)"></paginate>
    </div>

</div>
<div style='display:none' #lookupOptionsContainer values=''></div>
<div style='display:none' #viewParamsContainer values='{"ModelType":null,"AddUrl":"/Auth/Users/UserCreate","EditUrl":"/Auth/Users/UserEdit","DetailsUrl":null,"ListUrl":null,"Fields":[],"Other":{}}'></div>