<div class="page-header container-fluid" *ngIf="!IsEmbedded !HideHeader">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <h2>{{'Pages.Pages__PageTreeList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span></h2>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="row">

                    <div class="col-md-8 col-xs-12 text-last padTop">
                        
<div class="row form-group "
     id="FG_tenantCode"
     #FG_tenantCode="bsFormGroup" bs-group
     >
    <label class="col-sm-3 control-label">
        {{'Columns.Page__TenantCode' | translate }}
    </label>
    <div class="col-sm-9">
        
<select class="form-control"
        name="Form__tenantCode" 
        [li-watch]="model"
        [(ngModel)]="model.tenantCode"
         (change)="tenantChanged()" >
    <option *ngFor="let item of tenants" [ngValue]="item.code">{{item.name}}</option>
</select>
    <p *ngIf="!FG_tenantCode.Write">{{FG_tenantCode.Value}}</p>

        
    </div>
</div>

                    </div>
                <div class="col-md-4 col-xs-12 padTop padBottom">
                    <div class="pull-last btn-group">

                        
    <a class="btn btn-success"
       [routerLink]="'/Pages/PageCreate'"
        *ngIf="Permission.insert"
       >
        <i class="fa fa-plus"></i> {{'Words.AddEntity' | translate : {p0:'Words.Page' | translate } }}
    </a>

                        
    <button class="btn btn-info margin-sides"
            (click)="Refresh()"
            
            >
        <i class="fa fa-redo"></i> 
    </button>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" *ngIf="!IsEmbedded">

        <ol class="breadcrumb">
            <li>
                <a routerLink="'/'">{{'Words.Main' | translate }}</a>
            </li>
            <li>
                {{'Pages.Pages__PageTreeList' | translate }}
            </li>
        </ol>
    </div>
</div>

<div class="page-header section-header" *ngIf="IsEmbedded && !HideHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{'Pages.Pages__PageTreeList' | translate }}<span *ngIf="HeaderExtra"> - {{HeaderExtra}}</span>
            </div>
            <div class="col-md-4">

    <a class="btn btn-success buttonGra-sm"
       [routerLink]="'/Pages/PageCreate'"
        *ngIf="Permission.insert"
       >
        <i class="fa fa-plus"></i> {{'Words.AddEntity' | translate : {p0:'Words.Page' | translate } }}
    </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <domainTree #DomainTree [IsEmbedded]='true'></domainTree>
        </div>
        <div class="col-md-9" [show-if]="currentDomain && model.tenantCode" style="margin-top:11px">
            <pageList #PageList [IsEmbedded]='true'></pageList>
        </div>
    </div>
</div>








<div style='display:none' #lookupOptionsContainer values='{"tenants":"C0"}'></div>
<div style='display:none' #viewParamsContainer values='{"ModelType":null,"AddUrl":"/Pages/PageCreate","EditUrl":null,"DetailsUrl":null,"ListUrl":null,"Fields":[{"Name":"No_of_Teams","Type":"Number"}],"Other":{"DomainTree":"Domains/DomainTree","PageList":"Pages/PageList","UseDefault":"P1"}}'></div>